
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

<!-- page title style3 START -->
<section class="page-title style3" data-path="../img/headers/header4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="strong text-uppercase"><i class="fas fa-info-circle"></i> ABOUT</h1>
                <ol class="breadcrumb hidden-xs">
                    <li><a href="@Url.Action( "Index","Website")"><i class="fa fa-home"></i></a></li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- page title style3 END -->
<!-- page content START -->
<div class="" id="wsa">
	<!-- section START -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="spacer-10">
                    <div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
                        <h2 class="strong">Company</h2>
                        <small class="text-uppercase strong base-color">Highbrow Diligence Services (HDS)<br>is a Technology company </small>
                    </div>
                    <hr class="spacer-10">
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12">
				<p>Highbrow Diligence Services (HDS) is a Technology company, headquartered in Chennai, Tamil Nadu, India.</p>
				<p>HDS is setup with an objective to provide world class technology solutions to commercial real estate companies across globe.</p>
				<p>HDS possess proven experience of providing high-end Data Analytics, Business Intelligence tools and Data Aggregation tools to top pension fund advisors in the US, REITs, Property Management Companies and domain / functional support to top Technology companies in the US, UK and India.</p>
				<p>HDS follows AGILE, SCRUM and RUP methodologies in delivering timely and quality analysis and services to the Clients</p>
				<p>Recognized as a Startup by DIPP, Government of India; Active member of Indo American Chamber of Commerce</p>
					</div>
			</div>
        </div>
    </section>
    <!-- section END -->

	<!-- section START -->
    <section class="gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="spacer-10">
                    <div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
                        <h2 class="strong">Values</h2>
                        <small class="text-uppercase strong base-color">HDS is built on core values of Integrity<br> The principles of Ubuntu - “One Community, Stay Connected” </small>
                    </div>
                    <hr class="spacer-10">
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12">
					<h5 class="page-header mb--0 no-border">Philosophy</h5>
					<p>HDS is built on core values of Integrity, Humanity and imbibe the principles of Ubuntu - “One Community, Stay Connected”. Ubuntu also emphasis the meaning and spirit of team work by the very way of greeting ‘Sava bona’ meaning “I see you” and the response, ‘Sikhona’ meaning “I am here” - put together into “I am what I am because of who we all are”.</p>
				</div>
				<div class="col-sm-12">
					<h5 class="page-header mb--0 no-border">Vision</h5>
					<p>We are dedicated to making Commercial Real Estate an easy business</p>
				</div>
				<div class="col-sm-12">
					<h5 class="page-header mb--0 no-border">Mission</h5>
					<p>HDS dedicates itself to the world of Commercial Real Estate by identifying the challenges and providing simple technology based solutions. These solutions are backed with high-end data analytics. HDS executes any and all projects with laser focus on Quality, Speed and SLAs with Customer First motto. World Class Quality delivery is more than a promise.</p>
				</div>
			</div>
        </div>
    </section>
    <!-- section END -->

	<!-- section START -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="spacer-10">
                    <div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
                        <h2 class="strong">Our Team</h2>
                        <small class="text-uppercase strong base-color">Highbrow Diligence Services (HDS)<br> strongly believes and practices strong domain culture </small>
                    </div>
                    <hr class="spacer-10">
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12">
				<p>HDS strongly believes and practices strong domain culture. HDS team members have extensive experience in technology, financial analysis and data analytics industry with an average experience of more than 10 years since 2001.</p>
				<p>The team culture in HDS is such that, once assigned, we become a part of your organization and become your extended arm. As a team, we get expertize in your process, and build a strong foundation that supports the growth of your organization.</p>
				<p>The biggest advantage for any organization to work with HDS is its rich combined experience in both functional and technological domains. This combination enables HDS to empathize with the challenges faces by the CRE orgainzations and provide solutions that works for the organization.</p>
					</div>
			</div>
        </div>
    </section>
    <!-- section END -->
</div>
