@{
    ViewData["Title"] = "Home Page";
}


<!-- end app-navbar -->
<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Dashboard</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                      
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-statistics">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Live Views</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="flot-chart-wrapper">
                            <div class="flot-container">
                                <div id="flot-real-time" class="flot-wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-statistics">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Top Spaces</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="c3chart-wrapper">
                            <div id="c3demo5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-statistics">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Top Clients</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="c3chart-wrapper">
                            <div id="c3demo6"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card card-statistics">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Statistics</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="apexchart-wrapper">
                            <div id="apexdemo1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-statistics">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Space Types</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="apexchart-wrapper">
                            <div id="apexdemo2"></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>

<script>
    tes();
</script>
